In [92]:
import pandas as pd
import numpy as np
import re

In [93]:
filename = "brent-oil-historical-data-2020-05-08-21-33-04.csv"
df = pd.read_csv(filename)
df

             Date  Price   Open   High    Low     Vol. Change %
0    May 08, 2020  30.13  29.61  30.67  29.42        -    2.27%
1    May 07, 2020  29.46  29.64  31.84  29.08  259.89K   -0.87%
2    May 06, 2020  29.72  32.27  32.27  28.66  268.46K   -4.04%
3    May 05, 2020  30.97  28.10  32.06  27.77  267.14K   13.86%
4    May 04, 2020  27.20  26.10  28.08  25.50  215.73K    2.87%
..            ...    ...    ...    ...    ...      ...      ...
276  Apr 12, 2019  71.55  70.95  71.87  70.90  237.22K    1.02%
277  Apr 11, 2019  70.83  71.56  71.68  70.57  278.09K   -1.25%
278  Apr 10, 2019  71.73  70.82  71.78  70.57  288.89K    1.59%
279  Apr 09, 2019  70.61  71.19  71.34  70.30  267.49K   -0.69%
280  Apr 08, 2019  71.10  70.56  71.19  70.43  288.13K    1.08%

[281 rows x 7 columns]

In [94]:
df.dtypes

Date         object
Price       float64
Open        float64
High        float64
Low         float64
Vol.         object
Change %     object
dtype: object

In [95]:
df.shape

(281, 7)

In [96]:
df.tail()

             Date  Price   Open   High    Low     Vol. Change %
276  Apr 12, 2019  71.55  70.95  71.87  70.90  237.22K    1.02%
277  Apr 11, 2019  70.83  71.56  71.68  70.57  278.09K   -1.25%
278  Apr 10, 2019  71.73  70.82  71.78  70.57  288.89K    1.59%
279  Apr 09, 2019  70.61  71.19  71.34  70.30  267.49K   -0.69%
280  Apr 08, 2019  71.10  70.56  71.19  70.43  288.13K    1.08%

In [97]:
df.isnull().sum()

Date        0
Price       0
Open        0
High        0
Low         0
Vol.        0
Change %    0
dtype: int64

In [98]:
#change date format
df['Date'] = pd.to_datetime(df.Date)
df

          Date  Price   Open   High    Low     Vol. Change %
0   2020-05-08  30.13  29.61  30.67  29.42        -    2.27%
1   2020-05-07  29.46  29.64  31.84  29.08  259.89K   -0.87%
2   2020-05-06  29.72  32.27  32.27  28.66  268.46K   -4.04%
3   2020-05-05  30.97  28.10  32.06  27.77  267.14K   13.86%
4   2020-05-04  27.20  26.10  28.08  25.50  215.73K    2.87%
..         ...    ...    ...    ...    ...      ...      ...
276 2019-04-12  71.55  70.95  71.87  70.90  237.22K    1.02%
277 2019-04-11  70.83  71.56  71.68  70.57  278.09K   -1.25%
278 2019-04-10  71.73  70.82  71.78  70.57  288.89K    1.59%
279 2019-04-09  70.61  71.19  71.34  70.30  267.49K   -0.69%
280 2019-04-08  71.10  70.56  71.19  70.43  288.13K    1.08%

[281 rows x 7 columns]

In [99]:
#check change% is up/down
#then add value into new column indicator
df['indicator'] = '-'

In [100]:
index = df.index
number_of_rows = len(index)
number_of_rows

281

In [101]:
for n in range(number_of_rows):
    
    txt = df.loc[n]['Change %']
    x = re.findall("\-", txt)
    if(x):
        indicator = "down"
    else:
        indicator = "up"
        
    df['indicator'][n] = indicator

D:\Program\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [102]:
df

          Date  Price   Open   High    Low     Vol. Change % indicator
0   2020-05-08  30.13  29.61  30.67  29.42        -    2.27%        up
1   2020-05-07  29.46  29.64  31.84  29.08  259.89K   -0.87%      down
2   2020-05-06  29.72  32.27  32.27  28.66  268.46K   -4.04%      down
3   2020-05-05  30.97  28.10  32.06  27.77  267.14K   13.86%        up
4   2020-05-04  27.20  26.10  28.08  25.50  215.73K    2.87%        up
..         ...    ...    ...    ...    ...      ...      ...       ...
276 2019-04-12  71.55  70.95  71.87  70.90  237.22K    1.02%        up
277 2019-04-11  70.83  71.56  71.68  70.57  278.09K   -1.25%      down
278 2019-04-10  71.73  70.82  71.78  70.57  288.89K    1.59%        up
279 2019-04-09  70.61  71.19  71.34  70.30  267.49K   -0.69%      down
280 2019-04-08  71.10  70.56  71.19  70.43  288.13K    1.08%        up

[281 rows x 8 columns]